# Data Cleaning 

#### 1. Import pandas library.

In [21]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [22]:
import pymysql as mysql
import sqlalchemy as chemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [23]:
engine = chemy.create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table.

In [24]:
users = pd.read_sql_table("users", engine)

#### 5. Rename Id column to userId.

In [25]:
users.rename(columns={"Id": "userId"}, inplace=True)
users.head(2)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None

#### 6. Import the posts table.

In [26]:
posts = pd.read_sql_table("posts", engine)

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [27]:
posts.rename(columns={"Id": "postId", "OwnerUserId": "userId"}, inplace=True)
posts.head(2)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userId, ViewCount, CommentCount

In [30]:
u = users.loc[:, ["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
p = posts.loc[:, ["postId", "Score", "userId", "ViewCount", "CommentCount"]]

In [31]:
u.head(2)

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0

In [32]:
p.head(2)

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [36]:
full = pd.merge(u, p, on="userId", how="inner")
full.head(2)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [37]:
full.isnull().sum()
# 48396 null values in ViewCount column. Everything else looks ok!

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [39]:
full.head(2)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0

In [44]:
full.ViewCount.fillna(0, inplace=True)
# Since the lower value was 1, I decided to turn all NaN into 0.

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [49]:
full.ViewCount = full.ViewCount.astype("int64")

In [56]:
# I decided to change ViewCount data type to integer, previously float.